.statistics {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.title {
  padding: 14px;
  color: rgb(69, 123, 186);
  text-transform: uppercase;
}

.statList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: calc(100% / 5);
  gap: 5px;
}

.label,
.percentage {
  color: whitesmoke;
}
